@function test1() {
    @return 'test1 output';
}
$test1: get-function(test1);
$test2: (
    get-function(test1),
    get-function(test1),
);
$test3: (
    test3a: get-function(test1),
    test3b: get-function(test1),
);

@debug #{'test1 {'};
@debug #{'  type-of:' type-of($test1)};
@debug #{'  inspect:' inspect($test1)};
@debug #{'  logged: ' $test1};
@debug #{'  call:   ' call($test1)};
@debug #{'}'};
@debug #{'test2 {'};
@debug #{'  type-of:' type-of($test2)};
@debug #{'  inspect:' inspect($test2)};
@debug #{'  logged: ' $test2};
@debug #{'  call:   ' call(nth($test2,1)), call(nth($test2,2))};
@debug #{'}'};
@debug #{'test3 {'};
@debug #{'  type-of:' type-of($test3)};
@debug #{'  inspect:' inspect($test3)};
@debug #{'  logged: ' $test3};
@debug #{'  call:   ' call(map-get($test3,'test3a')), call(map-get($test3,'test3b'))};
@debug #{'}'};
